body{
	background-color: #0f0f1b;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: normal;
	min-height: 1000px;
	color: white;
	letter-spacing: 6px;
}
.container{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

header{
	text-align: center;


}
header h1{
	font-weight: 400;
	margin-bottom: 0;
	font-size: 50px;

}
header p{
	line-height: 26px;
	font-weight: 300;
	padding: 0 130px;
}
nav{
	display: inline-block;
	width: 100%;
	border-top: 1px solid;
}
nav ul{
	padding-left: 0;

}
nav ul.left{
	float: left;
}
nav ul.right{
	float: right;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 25px;

}
nav ul li:last-child{
	margin-right: 0;

}
nav ul li a{
	text-decoration: none;
	color: #fff;

}


.autoplay_btn label{
	display: flex;
	align-items: center;


}
.autoplay_btn h5{
	margin: 0;
	font-weight: 500;

}
.autoplay_btn span{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 25px;
	border: 2px solid #414072;
	border-radius: 50px;
	margin-left: 5px;
	transition: all ease 0.5s;
}


.autoplay_btn span::before{
	content: '';
	position: absolute;
	width: 20px;
	height: 19px;
	background: #414072;
	border-radius: 50px;
	top: 3px;
	left: 4px;
	transition: all ease 0.5s; 
}

.autoplay_btn input:checked ~ span{
	border-color: #7270ca;
	box-shadow: 0 5px 25px rgb(114 112 202 / .5), 0 0 25px rgb(114 112 202 / .5); 
	background: rgb(144 112 202 / .2);
}
.autoplay_btn input:checked ~ span::before{
	left: 36px;
	box-shadow: 0 5px 25px rgb(114 112 202 / .5), 0 0 25px rgb(114 112 202 / .5); 
	background: #7270ca;
}
.autoplay_btn input{
	display: none;

}







